$colors: (
  primary: (
    400: hsl(190, 77%, 46%),
    700: hsl(195, 32%, 45%)
  ),
  secondary: (
    400: hsl(332, 25%, 27%),
    700: hsl(276, 10%, 41%)
  ),
  light: (
    400: hsl(45, 18%, 82%)
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 95%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 15%),
    700: hsl(0, 0%, 0%)
  )
);
